<!DOCTYPE html>
<html ng-app="evenn">
<head>
  <title>Evenn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/comp.css">

  <script>
    if (!(/^localhost/).test(location.host)) {
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38398315-11', 'auto');
    }
  </script>

  <script src="/vendor/lodash.min.js"></script>
  <script src="/vendor/async.min.js"></script>
  <script src="/vendor/chart.min.js"></script>
  <script src="/vendor/angular.min.js"></script>
  <script src="/vendor/angular-route.min.js"></script>
  <script src="/vendor/angular-animate.min.js"></script>
  <script src="/vendor/angular-strap.min.js"></script>
  <script src="/vendor/angular-strap.tpl.min.js"></script>
  <script src="/vendor/angular-facebook.js"></script>
  <script src="/vendor/angular-chart.min.js"></script>
  <script src="/vendor/smart-table.min.js"></script>
  <script src="/vendor/angulartics.js"></script>
  <script src="/public/comp.js"></script>
</head>
<body ng-controller="MainCtrl">
  <div id="start-screen" ng-class="{'fade-out': evennLoaded}">
    <h1>Evenn</h1>
    <p>Loading...</p>
    <small class="text-muted">Made by Rory Hughes</small>
  </div>

  <div class="container">
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation" bs-navbar>
      <div class="container-fluid" bs-collapse start-collapsed="true">
        <div class="navbar-header">
          <button type="button" ng-show="user.fb" class="navbar-toggle collapsed" bs-collapse-toggle>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Evenn</a>
          <p ng-hide="user.eventsReady" class="navbar-text">Analyse Facebook events</p>
        </div>

        <div class="collapse navbar-collapse" bs-collapse-target>
          <ul class="nav navbar-nav" ng-show="user.eventsReady">
            <li data-match-route="/$">
              <a bs-collapse-toggle href="#/"><i class="fa fa-calendar"></i> Events</a>
            </li>
            <li data-match-route="/table$">
              <a bs-collapse-toggle href="#/table"><i class="fa fa-list"></i> Big List</a>
            </li>
            <li data-match-route="/genders$">
              <a bs-collapse-toggle href="#/genders"><i class="fa fa-users"></i> Gender Ratios</a>
            </li>
            <li data-match-route="/venn$">
              <a bs-collapse-toggle href="#/venn"><i class="fa fa-dot-circle-o"></i> Venn Diagram</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="user.fb">
            <li>
              <a bs-collapse-toggle ng-click="changeEvents()" ng-show="user.eventsReady"><i class="fa fa-file-o"></i> Change events</a>
            </li>
            <li><a bs-collapse-toggle ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <ng-view autoscroll="true"></ng-view>

    <div class="footer well well-sm text-muted">
      <a href="#/about">What is this?</a> | 
      Made by <a href="http://rory.ie/me" target="_blank">Rory Hughes</a>
    </div>
  </div>

<script type="text/ng-template" id="login.html">
  <h1 class="text-center">Evenn</h1>
  <div class="alert alert-danger text-center" ng-show="loginError" ng-bind="loginError"></div>
  <p class="text-center">
    <button type="button" class="btn btn-primary btn-lg" ng-click="login()">
      <i class="fa fa-facebook-square"></i> Login with Facebook
    </button>
  </p>
  <about-evenn></about-evenn>
</script>

<script type="text/ng-template" id="select.html">
  <div class="panel panel-default select-events-panel">
    <div ng-show="loadingMessage" class="panel-body">
      <h3 class="no-margin">Please wait...</h3>
      <pre ng-bind="loadingMessage" class="no-margin"></pre>
    </div>
    <div ng-hide="loadingMessage" class="panel-heading">
      <strong class="pull-left" ng-class="{'text-danger': selectedEventCount > maxSelection}">
        Select up to five events
      </strong>
      <button class="btn btn-success pull-right" ng-click="analyseEvents()" ng-disabled="selectedEventCount > maxSelection || selectedEventCount < 1">
        Analyse <i class="fa fa-caret-right"></i>
      </button>
      <div class="clearfix"></div>
    </div>
    <div ng-hide="loadingMessage" class="panel-body">
      <h3 class="text-muted text-center" ng-hide="availableEvents">Loading events...</h3>
      <div class="list-group" ng-show="availableEvents">
        <p class="text-center text-muted" ng-hide="availableEvents.length">No events available :(</p>
        <a ng-repeat="event in availableEvents"
           ng-click="event.selected = !event.selected; updateSelectedEventCount()"
           ng-class="{'active': event.selected}"
           class="list-group-item">
          <h4 class="list-group-item-heading">
            <i class="fa" ng-class="{'fa-square-o': !event.selected, 'fa-check-square-o': event.selected}"></i>
            <span ng-bind="event.name"></span>
          </h4>
          <p class="list-group-item-text">
            <strong ng-bind="event.location"></strong>, <strong ng-bind="event.start_time| date : 'yyyy-MM-dd HH:mm'"></strong>
          </p>
        </a>
      </div>
      <button class="btn btn-success btn-lg btn-block" ng-click="analyseEvents()" ng-disabled="selectedEventCount < 1 || selectedEventCount > maxSelection">
        Analyse <i class="fa fa-caret-right"></i>
      </button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="events-home.html">
  <h4>Selected Events:</h4>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="(id, event) in user.events">
      <event-card event="event"></event-card>
    </div>
  </div>
</script>

<script type="text/ng-template" id="event-card.html">
  <div class="thumbnail event-card">
    <img ng-src="{{event.cover.source}}" ng-if="event.cover">
    <div class="well well-sm" ng-hide="event.cover">
      <small class="text-muted">No cover photo :(</small>
    </div>
    <div class="caption">
      <h3 ng-bind="event.name"></h3>
      <p>
        <a class="btn btn-default btn-sm" ng-href="#/table?highlight={{event.id}}"><i class="fa fa-list"></i> Show in Big List</a>
        <a class="btn btn-default btn-sm" ng-href="#/events/{{event.id}}/genders"><i class="fa fa-users"></i> Gender Ratio</a>
      </p>
      <p class="event-details">
        <strong>Created by</strong>
        <span ng-bind="event.owner.name"></span>
        <br>
        <strong>Location</strong>
        <span ng-bind="event.location"></span>
        <br>
        <strong>Time</strong>
        <span ng-bind="event.start_time | date : 'yyyy-MM-dd HH:mm'"></span>
        <br>
        <strong>Description</strong>
        <br>
        <span>
          <span ng-hide="event._showDescription"><span ng-bind="event.description | limitTo : 100"></span>...</span>
          <span class="preformatted" ng-if="event._showDescription" ng-bind="event.description"></span>
          <a ng-if="event.description.length > 100" ng-click="event._showDescription = !event._showDescription" ng-bind="event._showDescription ? 'Show Less' : 'Show More'"></a>
        </span>
        <ul class="list-inline">
          <li><strong ng-bind="event.invitedCount"></strong> All invited</li>
          <li ng-repeat="rsvp in event.rsvpTypes">
            <strong ng-bind="event[rsvp + 'Count']"></strong>
            <span ng-bind="$root.rsvpMeta.words[rsvp]"></span>
          </li>
        </ul>
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="table.html">
  <div class="row big-list-header">
    <h3 class="col-sm-5">Big List</h3>
  </div>
  <attendee-table attendees="attendees" events="user.events" highlight-id="highlightId"></attendee-table>
</script>

<script type="text/ng-template" id="gender-ratio-index.html">
  <div class="row gender-ratios">
    <div class="col-md-7">
      <div class="page-header">
        <h3>Gender Ratio <small>Select an event for detailed information</small></h3>
      </div>
      <div class="list-group">
        <a ng-repeat="(id, event) in user.events" class="list-group-item" ng-href="#/events/{{id}}/genders">
          <h4 class="list-group-item-heading">
            <span ng-bind="event.name"></span>
            <gender-counts counts="event.genderCounts['attending']"></gender-counts>
          </h4>
          <p class="list-group-item-text">
            <small>{{event.location}}, {{event.start_time| date : 'yyyy-MM-dd HH:mm'}}</small>
          </p>
        </a>
      </div>
    </div>

    <div class="col-md-5">
      <about-gender-ratios></about-gender-ratios>
    </div>
  </div>
</script>

<script type="text/ng-template" id="gender-ratio-show.html">
  <div class="row gender-ratios">
    <h3 class="text-center" ng-hide="event">Unable to find event with that id... :(</h3>
    <div class="col-md-8" ng-if="event">
      <div class="page-header">
        <h3>
          Gender Ratio for <strong>'{{event.name}}'</strong>
        </h3>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <gender-ratio-pie counts="event.genderCounts"></gender-ratio-pie>
        </div>
        <div class="col-sm-5">
          <div class="well well-sm gender-counts-well">
            <div ng-repeat="(rsvp, counts) in event.genderCounts">
              <strong class="rsvp-type" ng-bind="rsvpMeta.words[rsvp]"></strong><br>
              <gender-counts counts="counts" percentages="true" new-lines="true"></gender-counts>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <a class="btn btn-default btn-block" href="#/genders"><i class="fa fa-chevron-left"></i> Change event</a><br>
      <about-gender-ratios></about-gender-ratios>
    </div>
  </div>
</script>

<script type="text/ng-template" id="venn.html">
  <h4>Venn Diagram</h4>
  Coming soon...
</script>

<script type="text/ng-template" id="attendee-table.html">
  <table st-table="attendees" class="table table-hover table-condensed" ng-style="{height: tableHeight}">
    <thead>
      <tr>
        <th st-ratio="100">
          <input st-search="'name'" placeholder="Search..." class="input-sm form-control" type="search"/>
        </th>
      </tr>
      <tr>
        <th st-ratio="20">Name</th>
        <th st-ratio="{{columnWidth}}" ng-repeat="id in eventIds" ng-bind="events[id].name" ng-class="{'highlighted-column': id == highlightId}"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="person in attendees | orderBy : getScore : true">
        <td st-ratio="20">
          <a ng-href="{{person.link}}" target="_blank">
            <img height="31" ng-if="person.picture_url" ng-src="{{person.picture_url}}">
            <span ng-bind="person.name"></span>
          </a>
        </td>
        <td st-ratio="{{columnWidth}}" ng-repeat="id in eventIds" ng-class="$root.rsvpMeta.colors[person.events[id]]" ng-bind="$root.rsvpMeta.words[person.events[id]]"></td>
      </tr>
    </tbody>
  </table>
</script>

<script type="text/ng-template" id="about.html">
  <a ng-click="goBack()" class="btn btn-block btn-default" ng-hide="isDirective">
    <i class="fa fa-chevron-left"></i> Back
  </a>
  <h3>About</h3>
  <ul>
    <li>Who's going to all the events I'm attending?</li>
    <li>I'm invited to two parties on the same night. Which ones are my friends going to?</li>
    <li>What will the girl/boy ratio be?</li>
  </ul>
  <h4><u>Evenn can answer all your questions!</u></h4>
  <strong>It allows you to:</strong>
  <ul>
    <li>Merge multiple guest lists into one big searchable colour-coded table</li>
    <li>See the gender ratio of each event</li>
    <li><strong class="text-muted">(Coming Soon!)</strong> See a venn diagram of the guests going to multiple parties</li>
  </ul>
</script>

<script type="text/ng-template" id="about-gender-ratios.html">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">How this works</h4>
    </div>
    <div class="panel-body">
      Facebook unfortunately doesn't give access to gender information freely via their API so I've had to come up with a compromise. It <a href="https://github.com/bmuller/gender_detector/">guesses the gender</a> of people based on first name. Obviously unisex names (which show as a grey, neutral gender) exist so they won't appear in the ratio but it should give a good indication.
    </div>
  </div>
</script>


</body>
</html>
