body {
  padding-top: 70px; }

input[type=search] {
  -webkit-appearance: none; }

* {
  outline: none; }

.list-group-item, a {
  cursor: pointer; }

.select-events-panel .panel-heading {
  padding: 6px 7px; }
  .select-events-panel .panel-heading strong {
    font-size: 21px; }

.thumbnail .well-lg {
  margin-bottom: 5px; }
.thumbnail h3 {
  margin-top: 0; }

.table-condensed > tbody > tr > td {
  padding: 0 5px; }

.preformatted {
  white-space: pre-line; }

.big-list-header {
  margin: 17px 0 10px 0; }
  .big-list-header h3 {
    margin-top: 0; }

.highlighted-column {
  background-color: #383838;
  color: #FFFFFF; }

table {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 500px;
  /* this can vary */ }

table * {
  box-sizing: inherit;
  -moz-box-sizing: inherit; }

thead {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

tbody {
  overflow-y: scroll;
  display: inline-block; }

thead > tr, tbody > tr, tfoot > tr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

thead, tfoot {
  flex-shrink: 0; }

th, tbody td {
  width: 20%;
  /* this can vary */
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: inline-block; }

tfoot {
  display: inline-block; }

tfoot td {
  width: 100%;
  display: inline-block; }
